@font-face {
    font-family: ProximaNovaCondensedLight;
    src: url(../fonts/ProximaNovaCondensedLight.woff);
}

.game_end_screen {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.295);
    padding: 0 15px;
}

.game_end_inner {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 30px;
}

.oval_btn {
    width: 75px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
}

.oval_btn img {
    width: 100%;
}

.oval_btn:focus {
    outline: none;
}

.oval_btn:active {
    outline: none;
    transform: scale(0.9);
    transition: all linear .05s;
}

.position_lt {
    top: -20px;
    left: -15px;
}

.position_lb {
    bottom: -20px;
    left: -15px;
}

.position_rb_1 {
    bottom: -20px;
    right: -15px;
}

.position_rb_2 {
    bottom: 60px;
    right: -15px;
}

.head {
    position: relative;
    float: left;
    width: 100%;
    position: relative;
    top: -29px;
    text-align: center;
}

.head img {
    max-width: 18rem;
    /* width: 100%; */
    /* position: absolute; */
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
}

.head_txt {
    color: #fff;
    font-size: 20px;
    /* font-size: calc(30px + 6 * ((100vw - 320px) / 680)); */
    top: -1px;
    text-shadow: 2px 0px #00000085, 3px 0px #00000085;
    /* letter-spacing: 2px;
    line-height: 50px; */
    /* margin-left: -6px; */
    width: 200px !important;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-height: 56px;
    bottom: 0;
}

.coin_box {
    top: 60px;
    text-align: center;
}

.coin_box img {
    position: relative;
    top: -3px;
}

.coin_field {
    width: 126px;
    height: 26px;
    border-radius: 25px;
    background: #87D5DE;
    text-align: center;
    color: #E8F600;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 2px 0px rgb(0 0 0 / 62%), 3px 0px rgb(0 0 0 / 54%);
    line-height: 26px;
    margin-left: -15px;
    box-shadow: inset 0px 2px 0 #52acb7;
}

.coin_txt {
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    font-size: 20px;
    color: #919191;
}

.level_box {
    top: 60px;
    right: 35px;
    text-align: center;
}

.level_box img {
    position: relative;
    top: -10px;
}

.level_box_txt {
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    font-size: 20px;
    color: #919191;
    padding-left: 15px;
}

.level_field_ml {
    margin-left: -30px;
}

.brain_star {
    /* float: left; */
    width: 365px;
    margin: 0 auto;
    position: relative;
    top: -20px;
}

.img_gray {
    animation-duration: 10s;
}

.mt-minus20 {
    margin-top: -20px;
    margin-left: -8px
}

.brain_star img {
    width: 100%;
}

.score_box {
    width: 100%;
    text-align: center;
    float: left;
    position: relative;
}

.score_box p {
    font-size: 24px;
    margin-bottom: 0;
    color: #919191;
}

.score_box_inner {
    width: 340px;
    height: 40px;
    border-radius: 25px;
    background: #87D5DE;
    text-align: center;
    color: #E8F600;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 2px 0px rgb(0 0 0 / 62%), 3px 0px rgb(0 0 0 / 54%);
    line-height: 40px;
    margin: 0 auto;
    box-shadow: inset 0px 2px 0 #52acb7;
}

.button_area button {
    background: none;
    border: none;
    margin: 0 8px;
    margin-top: 40px;
    position: relative;
    width: 164px;
    cursor: pointer;
    height: 60px;
    z-index: 0;
    font-size: 30px;
    color: #fff;
    text-shadow: 3px 0px rgb(0 0 0 / 59%), 2px 0px rgb(0 0 0 / 59%);
}

.button_area button img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.button_area button:focus {
    outline: none;
}

.button_area button:active {
    transform: scale(0.9);
    transition: all linear .05s;
}

.hs-lt,
.hs-rt {
    position: absolute;
    top: 40px;
}

.hs-lt img,
.hs-rt img {
    animation-name: blinkAnimation;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.hs-lt {
    left: -60px;
}

.hs-rt {
    right: -60px;
}

@keyframes blinkAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.rate_box {
    background: #fff;
    border-radius: 20px;
    max-width: 640px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.rate_box .head_txt {
    text-shadow: 0px 5px 6px #000000E8;
}

.rate_box_inner {
    width: 80px;
    margin: 0 12px;
    cursor: pointer;
}

.rate_box_inner img {
    width: 100%;
}

/* .rate_box_inner:active {
    /* transform: scale(0.9); 
} */

.rating_container {
    width: 100%;
    float: left;
    height: 100vh;
    position: absolute;
    top: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.chart-area {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.chart-area canvas {
    width: 100%;
    height: 400px !important;
}

.helptxt {
    max-height: 250px;
    overflow-y: auto;
    float: left;
    width: 100%;
    margin: 0;
    font-family: ProximaNovaCondensedLight;
    font-weight: 700;
    color: #959595;
}

.helptxt p {
    font-family: ProximaNovaCondensedLight;
    font-weight: 700;
    color: #959595;
    font-size: 30px;
    /* font-size: 20px; */
}

.img_gray img {
    filter: grayscale(1);
}

.img_normal img {
    filter: grayscale(0);
}

.social_container {
    width: 100%;
    float: left;
    position: absolute;
    top: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.social_icon {
    text-align: center;
    width: 100%;
}

.social_icon i {
    width: 45px;
    height: 45px;
    background: #2e2e2e;
    border-radius: 25px;
    text-align: center;
    line-height: 47px;
    font-size: 25px;
    color: #fff;
    margin: 0 5px;
}

.big-brain-img {
    width: 118% !important;
}

@media only screen and (min-width: 991px) and (max-width: 1115px) {

    .coin_box,
    .level_box {
        top: 48px
    }

    .head img {
        max-width: 21rem;
    }

    .button_area button {
        margin-top: 15px;
        width: 120px;
        height: 45px;
        font-size: 20px;
    }

    .brain_star {
        width: 50%;
        float: unset;
    }

    .button_area button {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 485px) and (max-width: 720px) {
    .button_area button {
        margin-top: 15px;
        width: 140px;
        height: 54px;
        font-size: 24px;
    }

    .brain_star {
        width: 43% !important;
    }

    .score_box_inner {
        width: 255px;
    }

    .hs-lt img,
    .hs-rt img {
        width: 110px;
    }
}

@media only screen and (max-width: 820px) {
    .button_area button {
        margin-top: 12px;
    }

    .head_txt {
        margin-left: -8px;
    }
}

@media only screen and (max-width: 768px) {
    .head img {
        max-width: 14rem;
    }

    .head_txt {
        line-height: 50px;
        margin-left: -6px;
    }

    .brain_star {
        width: 50%;
        float: unset;
        top: 0;
    }

    .button_area button {
        margin-top: 28px;
    }

    .hs-rt {
        right: -37px;
    }

    .hs-lt {
        left: -37px;
    }
}

@media only screen and (max-width: 486px) {
    .oval_btn {
        width: 40px;
    }

    .position_lt {
        left: 0px;
        top: -10px;
    }

    .position_lb {
        left: 0px;
        bottom: -10px;
    }

    .position_rb_1 {
        bottom: -10px;
        right: 0px;
    }

    .position_rb_2 {
        bottom: 30px;
        right: 0px;
    }

    .head img {
        width: 50%;
    }

    .head_txt {
        font-size: 18px;
        top: 0px;
        text-shadow: 2px 0px #00000085, 3px 0px #00000085;
        letter-spacing: 0px;
        line-height: 1.9rem;
    }

    .brain_star {
        float: none;
        width: 30%;
        margin: 0 auto;
        position: relative;
        top: -25px;
    }

    .level_box {
        top: 34px;
        right: 27px;
    }

    .coin_box img,
    .level_box img {
        width: 30px;
    }

    .level_box img {
        top: -3px;
    }

    .coin_box {
        top: 28px;
        left: 24px;
    }

    .coin_field {
        width: 80px;
        height: 23px;
        font-size: 14px;
        margin-left: -10px;
    }

    .coin_txt,
    .level_box_txt {
        top: -18px;
        font-size: 16px;
    }

    .hs-rt,
    .hs-lt {
        top: 0px;
    }

    .hs-rt {
        right: 20px;
    }

    .hs-lt {
        left: 20px;
    }

    .hs-rt img,
    .hs-lt img {
        width: 50px;
    }

    .mt-minus20 {
        margin-top: 0;
    }

    .score_box p {
        font-size: 18px;
    }

    .score_box_inner {
        width: 140px;
        height: 34px;
        font-size: 20px;
        line-height: 34px;
    }

    .score_box {
        top: -28px;
    }

    .button_area button {
        width: 74px;
        height: 30px;
        font-size: 18px;
        margin-top: 0;
        top: -20px;
    }
}

@media only screen and (max-width: 360px) {
    .button_area button {
        width: 60px;
        font-size: 14px;
        height: 24px;
    }

    .head img {
        width: 40%;
    }

    .head_txt {
        font-size: 14px;
        line-height: 1.2rem;
    }

    .level_box img {
        left: 10px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .head img {
        max-width: 19rem;
    }

    .head_txt {
        line-height: 60px;
    }

    .brain_star {
        width: 50%;
        float: unset;
        top: -5px;
    }

    .button_area button {
        margin-top: 15px;
        width: 145px;
        height: 50px;
    }

    .coin_field {
        width: 110px;
    }
}

@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation: landscape) {
    .head img {
        max-width: 20rem;
    }

    .head_txt {
        line-height: 60px;
    }

    .brain_star {
        width: 50%;
        float: unset;
        top: -5px;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (orientation: landscape) {
    .game_end_screen {
        padding: 30px;
        height: auto;
    }

    .button_area button {
        margin-top: 35px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    .head img {
        max-width: 18rem;
    }

    .head_txt {
        line-height: 54px;
    }

    .coin_box,
    .level_box {
        top: 57px;
    }

    .brain_star {
        width: 37%;
    }

    .hs-lt,
    .hs-rt {
        top: -48px;
    }

    .hs-lt img,
    .hs-rt img {
        width: 65%;
    }

    .button_area button {
        width: 115px;
        margin-top: 26px;
        height: 45px;
        font-size: 20px;
    }

    .oval_btn {
        width: 60px;
    }

    .position_lt {
        top: -14px;
        left: -7px;
    }

    .position_lb {
        bottom: -14px;
        left: -7px;
    }

    .position_rb_1 {
        bottom: -14px;
        right: -7px;
    }

    .position_rb_2 {
        bottom: 60px;
        right: -7px;
    }
}