body {
    margin: 0 auto;
    overflow: hidden;
    background-color: #212121;
}

canvas {
    margin: 0 auto;
}


/* @font-face {
    font-family: "tickingtimebombbb_ital";
    src: url('assets/fonts/tickingtimebombbb_ital.ttf');
} */

.rotation {
    width: 100vw;
    height: 100vh;
    float: left;
    position: relative;
    background: #212121;
}

.rotation img {
    position: absolute;
    top: 42%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

@media screen and (orientation: portrait) {
    .rotation {
        display: block;
    }
    #gameArea {
        display: none;
    }
}

@media screen and (orientation: landscape) {
    .rotation {
        display: none;
    }
    #gameArea {
        display: block;
    }
}