body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Roboto_Bold";
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 800;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto_Regular";
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 300;
    font-weight: normal;
}
