body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Roboto_Bold";
    src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 800;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto-BoldItalic";
    src: url(./assets/fonts/Roboto-BoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-weight: bold;
}

.rotation {
    width: 100vw;
    height: 100vh;
    float: left;
    position: relative;
    background: #212121;
}

.rotation img {
    position: absolute;
    top: 42%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

@media screen and (orientation: portrait) {
    .rotation {
        display: block;
    }

    #gameArea {
        display: none;
    }
}

@media screen and (orientation: landscape) {
    .rotation {
        display: none;
    }

    #gameArea {
        display: block;
    }
}