body {
    background: #000000;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "FredokaOne-Regular";
    font-weight: 900;
    src: url(./assets/fonts/FredokaOne-Regular.ttf) format('truetype');
}