body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Rubik_Bold";
    src: url(./assets/fonts/Rubik-Bold.ttf) format('truetype');
    font-weight: 900;
    font-weight: bold;
}

@font-face {
    font-family: "Rubik_SemiBold";
    src: url(./assets/fonts/Rubik-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto_Bold";
    src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 900;
    font-weight: bold;
}

@font-face {
    font-family: "Rubik_Medium";
    src: url(./assets/fonts/Rubik-Medium.ttf) format('truetype');
    font-weight: 400;
    font-weight: bold;
}


/* @font-face {
    font-family: "Rubik_Medium";
    src: url(./assets/fonts/Rubik-Medium.ttf) format('truetype');
    top: 345px;
    left: 1401px;
    width: 278px;
    height: 415px;
} */

/* @font-face {
    font-family: "Rubik_Bold";
    src: url(./assets/fonts/Rubik-Bold.ttf) format('truetype');
	top: 345px;
    left: 1401px;
    width: 278px;
    height: 415px;
} */

/* @font-face {
    font-family: "Rubik_SemiBold";
    src: url(./assets/fonts/Rubik-SemiBold.ttf) format('truetype');
	top: 345px;
    left: 1401px;
    width: 278px;
    height: 415px;
} */

/* @font-face {
    font-family: "Roboto_Bold";
    src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
	top: 345px;
    left: 1401px;
    width: 278px;
    height: 415px;
} */