body {
	margin: 0px;
}

@font-face {
	font-family: "Bahnschrift";
	src: url(./assets/fonts/Bahnschrift.ttf) format('truetype');
}

@font-face {
	font-family: "modesto-expanded";
	src: url(./assets/fonts/modesto-expanded.ttf) format('truetype');
}