    body {
        margin: 0 auto;
        padding: 0px;
    }

    .navbar {
        width: 100%;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-brand {
        width: 80px;
    }

    .navbar-brand img {
        width: 100%;
    }

    .header_sec {
        width: 100%;
        background: #f1f1f1;
    }

    .hed_txt {
        width: 80%;
        text-align: center;
    }

    .hed_txt h6 {
        font-size: 40px;
        text-transform: uppercase;
        color: #e52b33;
        margin: 0px;
    }

    .mid_sec {
        width: 100%;
        padding-top: 20px;
    }

    .mid_top {
        width: 100%;
        text-align: center;
    }

    .mid_top h2 {
        color: #222;
        font-size: 45px;
    }