/*font-family: 'Open Sans', sans-serif;*/
@font-face{
	font-family:Tondo_regular !important;
	src:url(Tondo_Std_Rg.ttf);
}
body{margin:0 auto; padding: 0px; font-family: Tondo_regular;}
a:hover{text-decoration: none;}
a:focus{text-decoration:none; outline: none;}
.card-link{color:#000; font-size: 14px; font-weight: 700;}
.card-link:hover{color:#000;}
.faq span{font-size: 12px;}
.header_inner{width:100%; display: inline-block;}
.header_sec{width:100%; padding: 18px 0; background: #fff; box-shadow: -webkit-box-shadow: 0px 8px 6px 2px rgba(224,224,224,1);
-moz-box-shadow: 0px 8px 6px 2px rgba(224,224,224,1); box-shadow: 0px 8px 6px 2px rgba(224,224,224,1);}
.header_lft{width:auto; float: left;}
.header_lft img{width:100%;}
.header_rt{width:auto; float:right;}
.header_rt img{width:100%;}
.faq{width:100%; margin:10px 0; text-align:center; color:#514e60; font-size: 30px; font-weight: 700;}
.card{border:none; background: none;}
.card-header { padding: 5px; margin-bottom: 0; background: none; border-bottom: none;}
.card-header .btn-link{color:#000; font-size:18px;}
.card-header .btn-link:hover{text-decoration: none; color:#000;}
.btn{padding: 10px 0;}
.card-body{padding: 5px;}
.card-body p {color:#606066; font-size:14px;/*font-family: 'TondoRegular';*/}
.header_rt a{margin-top:11px; display: inline-block; color:#fff;  font-weight:700; padding: 4px 14px; background: #e40000; border-radius: 8px; border: none; font-size:15px;}
.fa-home{margin-right: 8px;}
.airtel_main{width:100%; background: #f9f2f6; padding-top:40px;}

.app {margin:0px; padding:0px 0 0 25px;}
.app li{color:#606066; font-size: 14px;}
.terms_sec{width:100%; padding-top: 80px;text-align: center;}
.terms_sec p{font-size:14px; color:#5a80aa;}
.terms_sec p a{color:#5a80aa; padding:0 12px;}
.gotit_sec{width:100%; padding-top: 100px;}
.gotit_sec button{padding:14px 0 ; background: #e40000; border-radius: 8px; color:#fff; width:100%; font-size:16px; font-weight: 700; text-align:center;
	display:inline-block;}
.back_sec{width:100%; padding-bottom: 50px;}
.back_sec button{color:#e40000; font-size:18px; font-weight: 700; border:none; background:none;}
.fa-angle-left{margin-right: 6px;}

@media only screen and (max-width: 600px) {
  .header_lft img { width: 60%;}
  .header_rt a{margin-top:0px;: }
}