body {
    background: #000000;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "AmericanCaptain";
    font-weight: 900;
    src: url(./assets/fonts/AmericanCaptain.ttf) format('truetype');
}