body {
    /* background: #000000; */
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Roboto_Regular";
    src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Roboto_Bold";
    src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 900;
    font-weight: bold;
}