/*font-family: 'Roboto', sans-serif;*/
body{margin:0 auto; padding: 0px;  overflow: hidden;}
.top_head{width:100%;  padding: 15px 0;}
.header_sec{width:100%; background:#00ccff; padding: 7px 0; float:left;}
.container{width:1200px;}
.logo_sec{width:415px; float: left;}
.logo_sec img{width:100%;}
.logo_rt{width:9%; float:right;}
.logo_rt h3{font:400 25px/30px 'Roboto', sans-serif; color:#fff;}
.red_bar{width:100%;  background: #ff3300; padding: 10px 0; float: left;}
.red_bar_inn_lt{width:200px; float: left; padding-left: 15px;}
.red_bar_inn_lt p{font-size: 20px; color:#333333; font-family: 'Roboto', sans-serif; font-weight: 700; margin:0px;}
.red_bar_inn_lt .red_cls{color:#fff; padding-left: 15px; font-weight:400;}
.red_bar_inn_rt{width:30%; float:right; }
.red_bar_inn_rt1{width:235px; float:left;}
.red_bar_inn_rt1 p{font-size: 20px; color:#333333; font-family: 'Roboto', sans-serif; margin:0px; font-weight: 700;}
.red_bar_inn_lt1 .red_cls{color:#fff !important;}
.red_bar_inn_rt2{width:35%; float:right;}
.red_bar_inn_rt2 p{font-size: 20px; color:#333333; font-family: 'Roboto', sans-serif; margin:0px; font-weight: 700;}
.red_bar_inn_lt2 .red_cls{color:#fff !important;}
.mid_sec{width:100%;  display: flex; height: calc(100vh - 170px); position: relative; overflow: hidden; background: #ffcc33; }
.house_sec{width:18%;  z-index:9; display: flex; align-items: stretch; flex-direction: column; position: relative;}
.house_sec img{width:100%; position: absolute; bottom:0px;}
.number_sec{width:82%;  float: right; /*display: flex;align-items: stretch; flex-direction: column;*/ text-align:center; display:inline-block; padding-bottom: 14%; z-index: 9; position: relative;}
.number_sec ul{list-style-type: none; margin:0; display: inline-block; width: 700px; position: initial; z-index: 1;}
.number_sec ul li{float: left; width:75px; height: 75px; border: 3px solid #ff0000; background: #00cc33; margin:2% 4% 0 4%; border-radius: 3px; text-align:center;}
.number_sec ul li a{text-decoration:none;font-size: 30px; color:#fff; padding-top: 22px;  display: inline-block; font-family: 'Roboto', sans-serif; width:100%; font-weight: 700;}
.border-bottom_sec{width:100%;  position: fixed; bottom:-3px; left:0px;}
.border-bottom_sec img{width:100%;}
.mid_sec::before{background: #00ccff; position: absolute; left:0px; content: ""; width:18%; height: 100%;}

/*inner1*/
.inner_sec{width:100%; margin-top: 20px; display: flex;}
.inner_lt{flex:1; padding-left:5%;}
.innbx{width:20%; float: left; margin: 0 3%;}
.innbx img{width:100%;}
.inner_mid{flex:2; margin-left: 0%;}
.inner_mid_txt{width:100%; background: #0099ff; padding: 12px 0; text-align: center; }
.inner_mid_txt p{margin: 0px; color:#fff; font-size: 25px;}
.inner_mid_brdr{width:100%; margin-top: 10px; background: #003399; height: 30px;}
.inner_rt{ justify-content: flex-end; flex:1; display: flex; padding-right: 5%;}
.mid_bg{width:100%;}
.mid_bg img{width:100%; height: 600px;}
.mob{display: none;}
.desk{display: block;}

}





@media (min-width:2200px) and (max-width:2399px){

.number_sec ul li {  width:12%; height: 80px;}
.border-bottom_sec { width: 100%; margin-top: -154px;}
.number_sec ul li a { font-size: 28px; color: #fff; padding-top: 19px;}
.logo_rt {  width: 12%;  float: right;}
.house_sec img{bottom: 0px; width:74%;}


}


@media (min-width:2000px) and (max-width:2199px){

.number_sec ul li {  width: 11%; height: 80px;}
.border-bottom_sec { width: 100%; margin-top: -154px;}
.number_sec ul li a { font-size: 28px; color: #fff; padding-top: 22px;}
.logo_rt {  width: 12%;  float: right;}
.inner_lt .innbx { width: 105px; }

.house_sec img{bottom: 0px; width:74%;}


}

@media (min-width:1800px) and (max-width:1999px){

.number_sec ul li {  width: 75px; height: 75px;}
.border-bottom_sec { width: 100%; }
.number_sec ul li a { font-size: 28px; color: #fff; padding-top: 21px;}
.logo_rt {  width: 12%;  float: right;}
.house_sec{ width:20%;}
.number_sec{ width:80%;}
.house_sec img{bottom: 0px; width:74%;}
.innbx { width: 25%;}
.inner_mid_txt p{font-size: 18px;}
.inner_mid_txt{padding: 15px 0;}
.inner_mid_brdr{height: 35px; margin-top: 10px;}
}


@media (min-width:1600px) and (max-width:1799px){

.number_sec ul li {  width: 75px height: 75px;}
.border-bottom_sec { width: 100%; }
.number_sec ul li a { font-size: 27px; color: #fff; padding-top: 21px;}
.logo_rt {  width: 12%;  float: right;}
.house_sec{ width:18%;}
.number_sec{ width:82%;}
.mid_sec::before{width:18%;}

.house_sec img{bottom: 0px; width:76%;}
.innbx { width: 25%;}
.inner_mid_txt p{font-size: 18px;}
.inner_mid_txt{padding: 10px 0;}
.inner_mid_brdr{height: 32px; margin-top: 10px;}
}

@media (min-width:1400px) and (max-width:1599px){

.number_sec ul li {  width: 60px; height: 60px;}
.border-bottom_sec { width: 100%;bottom: -8px; position: fixed; }
.number_sec ul li a { font-size: 22px; color: #fff; padding-top: 16px;}
.logo_rt {  width: 12%;  float: right;}
.house_sec{  width:18%;}
.number_sec{ width:82%;}
.mid_sec::before{width:18%;}

.house_sec img{bottom: 0px; width:85%;}
.innbx { width: 26%;}
.inner_mid_txt p{font-size: 18px;}
.inner_mid_txt{padding: 10px 0;}
.inner_mid_brdr{height: 30px; margin-top: 10px;}
}

@media (min-width:1200px) and (max-width:1399px){
.number_sec ul{width:600px;}
.number_sec ul li {  width: 50px; height: 50px;  margin: 15px 4% 0 4%;}
.border-bottom_sec { width: 100%; }
.number_sec ul li a { font-size: 18px; color: #fff; padding-top: 15px;}
.logo_rt {  width: 14%;  float: right;}

.house_sec{ width:20%;}
.number_sec{ width:80%; }
.mid_sec::before{width:20%;}
.red_bar_inn_rt { width: 40%; float: right;}
.house_sec img{bottom: 12px; width:83%;}
.innbx { width: 27%;}
.inner_mid_txt p{font-size: 18px;}
.inner_mid_txt{padding: 6px 0;}
.inner_mid_brdr{height: 35px; margin-top: 8px;}

}

@media (min-width:992px) and (max-width:1199px){
.number_sec ul{width:550px;}
.number_sec ul li {  width: 10%; height: 50px; margin: 15px 4% 0 4%;}
.border-bottom_sec { width: 100%; }
.number_sec ul li a { font-size: 18px; color: #fff; padding-top: 15px;}
.logo_rt {  width: 17%;  float: right;}
.red_bar_inn_rt { width: 50%; float: right;}
.inner_mid_txt{padding: 9px 0;}
.inner_mid_brdr { width: 100%; margin-top: 10px; background: #003399; height: 28px;}
.house_sec{ width:20%;}
.number_sec{ width:80%;}
.house_sec img{bottom:0px; width:100%;}
.mid_sec::before{width:20%;}

.house_sec img{bottom:0px; width:100%;}
.innbx { width: 28%;}
.inner_mid_txt p{font-size: 18px;}
.inner_mid_txt{padding: 6px 0;}
.inner_mid_brdr{height: 25px; margin-top: 5px;}
}

@media (min-width:768px) and (max-width:991px){
.number_sec ul {width:auto; margin: 0 0 0 -32px;}
.number_sec ul li {  width: 10%; height:50px; margin: 15px 4% 0 4%;}
.border-bottom_sec { width: 100%; margin-top: -82px;}
.number_sec ul li a { font-size: 20px; color: #fff; padding-top: 12px;}
.logo_rt {  width: 21%;  float: right;}
.red_bar_inn_rt { width: 50%; float: right;}
.inner_mid_txt{padding: 9px 0;}
.inner_mid_brdr { width: 100%; margin-top: 10px; background: #003399; height: 28px;}
.inner_mid_txt p{font-size: 20px;}
.number_sec{width:74%;}
.house_sec{width:26%; }
.mid_sec::before{width:26%;}
.house_sec img{bottom: 0px; width:100%;}
.innbx { width: 28%;}
.inner_mid_txt p{font-size: 18px;}
.inner_mid_txt{padding: 6px 0;}
.inner_mid_brdr{height: 19px; margin-top: 5px;}
}

@media only screen and (max-width: 767px) {
.logo_sec { width: 50%;}	
.number_sec ul {width:auto; margin: 0 0 0 -32px;}
.number_sec ul li {  width: 10%; height: 50px; margin: 15px 4% 0 4%;}
.border-bottom_sec { width: 100%; margin-top: -82px;}
.number_sec ul li a { font-size: 20px; color: #fff; padding-top: 14px;}
.logo_rt { width: 27%; float: right;}
.red_bar_inn_rt { width: 61%; float: right;}
.mid_sec::before{width:30%;}
.innbx { width: 28%;}
.number_sec{width:70%;}
.house_sec{width:30%; }
.inner_mid_txt p{font-size: 14px;}
.inner_mid_txt{padding: 6px 0;}
.inner_mid_brdr{height: 8px; margin-top: 5px;}

}




@media only screen and (max-width: 600px) {
.logo_sec { width: 100%;}
.logo_rt { width: 100%; float: none; text-align: center;}
.red_bar_inn_lt { width: 97%; float: none;}
.red_bar{text-align:left;}
.red_bar_inn_rt { width: 97%; float: none; padding-left: 15px;}
.red_bar_inn_rt1 { width: 97%; float: none;}
.red_bar_inn_rt2 { width: 97%;  float: none;}
.house_sec{width:100%; float: none; height: auto;}
.number_sec{width:100%; float: none; height: auto;}
.number_sec ul{width:100%; margin:0px; padding: 0px;}
.number_sec ul li { width: 28%;  margin: 5px 8px;}
.border-bottom_sec{ bottom: 0px; margin: 0px;}
.inner_mid_txt { padding:3px 0;}
.inner_lt{width:100%;}
.innbx { width: 30%; float: left; margin: 0 1% 0 1%;}
.inner_mid { width: 94%; float: left; padding-left: 12px; margin: 0px;}
.inner_rt { width: 100%; display: inline-block;   padding-left: 6px;}
.mid_sec{display: block; height: auto;}
.house_sec img{position: relative; width:50%;}
body{overflow: visible;}
.desk{display: none;}
.mob{display: block; background: #00ccff; text-align: center;}
.mid_sec::before{display: none;}
.inner_mid_brdr { height: 12px;}

}


@media only screen and (max-width: 480px) {
.number_sec ul li {height: 56px; width: 43%;  margin: 5px 7px;}
.inner_mid { width: 100%; padding-left: 0px; }
.innbx{margin: 0 2px; width:29%;}
.inner_rt{padding-left: 9px; width:auto;}
.inner_lt{width:95%; padding-left: 9px;}
.red_bar_inn_rt { width: 94%;}
.red_bar_inn_lt{width:94%;}
.border-bottom_sec{margin: 0px;}
/*.inner_sec{flex-direction: column;}*/
.inner_mid{flex: 1;}
.inner_mid_txt p { font-size: 12px;}
.inner_mid_brdr{margin-top: 3px;}
}


@media only screen and (max-width: 360px) {

.inner_rt{width:95%; padding-left: 9px;}

}