body {
	margin: 0px;
}

/* .check-font-3 {
	font-family: 'BAHNSCHRIFT';
} */

@font-face {
	font-family: "Fredoka-Regular";
	src: url(./assets/fonts/Fredoka-Regular.ttf) format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: "Fredoka-Bold";
	src: url(./assets/fonts/Fredoka-Bold.ttf) format('truetype');
	font-weight: 700;
}