html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
    background-color: #000000;
}

* {
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#system {
    position: fixed;
    top: 50%;
    left: 50%;
}

@supports not (-webkit-touch-callout: none) {
    html {
        overflow: hidden;
    }

    body {
        position: fixed;
    }
}
#info {
    opacity: 1;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#menuButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

canvas {
    padding: 0;
    margin: 0;

    position: absolute;
    /*width: auto;*/
    /*left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/

    left: 50%;
    transform: translateX(-50%);

}

#slotUI {
    pointer-events:none;
}

#container {
    user-zoom: fixed;
    touch-action: none;
    overflow: hidden;

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: none;
}

#swipeInfo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
    pointer-events: none;
}

#swipeText {
    color: #FFFFFF;
    text-align: center;
    vertical-align: center;
    font-size: 3em;
}