body {
    background: #000000;
    margin: 0px;
    padding: 1px;
}

@font-face {
    font-family: "GROBOLD";
    src: url(./assets/fonts/GROBOLD.ttf)format('truetype');
    font-weight: 800;
    font-weight: bold;
}