/*///////////////////////////
// Render to full window size
///////////////////////////*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*///////////////////////////
// Add margin to canvas
///////////////////////////*/
canvas {
  margin: 10px;
  display: block;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

/*///////////////////////////
// Customize Pixi JS Canvas
///////////////////////////*/
/* #pixi-application-canvas { */
/* border: 2px solid black; */
/* } */

/*///////////////////////////
// Customize Stats Showing FPS
///////////////////////////*/
/* .stats-panel {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  z-index: 1000 !important;
  cursor: pointer;
  width: 100px;
  height: 60px;
  overflow: hidden;
} */

@font-face {
  font-family: 'Fredoka Bold';
  src: url('../fonts/Fredoka-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fredoka Regular';
  src: url('../fonts/Fredoka-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fredoka Medium';
  src: url('../fonts/Fredoka-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Fredoka SemiBold';
  src: url('../fonts/Fredoka-SemiBold.woff2') format('woff2');
}