body {
    background: #000000;
    margin: 0px;
    padding: 0px;
    margin: 0 auto;
    overflow: hidden
}
canvas{margin:0 auto;}
@font-face {
    font-family: "CCBellyLaugh";
    src: url(./assets/fonts/CCBellyLaugh.ttf)  format('truetype');
    font-weight:400;
    font-weight:normal;
}
 .rotation{
   width: 100vw;
   height: 100vh;
   float: left;
   position: relative;
   background: #212121;
 }
 .rotation img{
   position: absolute;
   top: 42%;
   bottom: 0;
   left:0;
   right:0;
   width: 200px;
   height: 200px;
   margin: 0 auto;
 }
 @media screen and (orientation: portrait) {
   .rotation{
     display: block;
   }
   #gameArea{
     display: none;
   }
 }

 @media screen and (orientation: landscape) {
   .rotation{
     display: none;
   }
   #gameArea{
     display: block;
   }
 }
