body {
    background: #000000;
    margin: 0px;
    padding: 0px;
}


/* @font-face {
    font-family: "Poppins_Bold";
    font-weight: 900;
    src: url(./assets/fonts/Poppins-Bold.ttf) format('truetype');
} */

@font-face {
    font-family: "aAbstractGroovy";
    font-weight: 800;
    src: url(./assets/fonts/aAbstractGroovy.ttf) format('truetype');
}

@font-face {
    font-family: "Wicked_Mouse_Demo";
    font-weight: 800;
    src: url(./assets/fonts/Wicked_Mouse_Demo.otf) format('opentype');
}