body {
	margin: 0px;
}

.check-font-2 {
	font-family: 'Poppins-Regular';
}

.check-font-3 {
	font-family: 'Poppins-SemiBold';
}

.check-font-4 {
	font-family: 'Poppins-Medium';
}

@font-face {
	font-family: "Poppins-Regular";
	src: url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Poppins-SemiBold";
	src: url(./assets/fonts/Poppins-SemiBold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Poppins-Medium";
	src: url(./assets/fonts/Poppins-Medium.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}