body {
    background: #000000;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Poppins-Bold";
    font-weight: 900;
    src: url(assets/fonts/Fredoka_Condensed-Bold.ttf) format('truetype');
}